/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/uploads
/public/vendor
/public/modules
/public/docs
/storage/*.key
/vendor
/.scribe
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.scribe
/resources/views/scribe
/bootstrap
/storage
